body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('Gambar/BimaSakti.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;

    background: rgba(255, 255, 255, 0.9); /* Warna putih semi-transparan */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.section img {
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section p {
    flex: 1;
    margin: 0;
    text-align: justify;
}

.video-section {
    display: flex;
    justify-content: center;
}

.video-section video {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
}
.sidebar-container {
    position: relative;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 12px;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    left: -200px;
    transition: left 0.3s ease-in-out;
        display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    color: #FFD700;
}
.sidebar.open {
    left: 0;
}
